{% load static from staticfiles %}
<html>
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link href="{% static "/static/lib/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">	  
	<link href="{% static "/static/css/base.css" %}" rel="stylesheet">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />    
	{% block css %}{% endblock %}  
    </head>
    <body>
	<div id="header">
		{% block header %}
		<div>
		<span id="title" class="nav-text" href="/framework">Data Demo Project</span>
		</div>
		<div id="navbar">
		    <ul>
                <li><a href="/tab/congestion" id="congestiontab" class="btn btn-default">Traffic visualization</a></li>
                <li><a href="/tab/od" id="odtab" class="btn btn-default">Trip planning</a></li>
                <!-- <li><a href="/tab/simulation" id="simulationtab" class="btn btn-default">Simulation</a></li> -->
            </ul>
		</div>
		{% endblock%} 
	</div>
	<div id="content">
      <div id="map">
      </div>
      <div id="menu">
          <div id="arrowbutton">
            <button id="menu-toggle-btn"></button>
          </div>
          <div id="menu-content">
          {% block menu %}{% endblock %}
          </div>
      </div>
    </div>
	<div id="footer">
	    {% block footer %}{% endblock %}
	</div>
  	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>		
	<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="{% static "/static/lib/jquery/jquery.ui.touch-punch.min.js" %}"></script>
	<script src="{% static "/static/lib/bootstrap/js/bootstrap.min.js" %}"></script>
	<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
	<script src="http://cdn.jsdelivr.net/leaflet.esri/1.0.0/esri-leaflet.js"></script>
	<script src="{% static "/static/lib/d3/d3.min.js" %}"></script>
	<script  type="text/javascript">
	   if("{{tabname}}"){
	    $("#"+"{{tabname}}"+"tab").addClass("active");
	    } 
	</script>
	<script src="{% static "/static/js/togglemenu.js" %}"></script>
	    <!--the library below is to be loaded for specific apps-->
    {% block js %}
    {% endblock %}
  </body>
</html>