/*
 * Congestion structure
 */

/*Time Slider style*/
#timelabel{
  float:left;
}
#time-slider{
  float:left;
  left:20;
  width:50%;
  font-size: 1.5em;
}

/*hint style*/
#hint{
  float:left;
  margin-left: 2em;
}
.ui-slider {
  margin: 2px;
}

/*Legend style*/
.legend {
    line-height: 30px;
    color: #555;
}
.legend i {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 8px;
    opacity: 0.9;
}

.info {
	font-size:large;
}

.leaflet-right .leaflet-control{
    margin-right: 20px;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding:6px 8px;
}

#timelabelformap{
	color: #4787BE;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip{
	background:rgba(255, 255, 255, 0.6)
}
.esri-leaflet-logo{
	margin-right:20px!important	
}

/*Menu*/


/*the text box in menu*/
#textbox{
	top: 0;
	height: 50;
	padding:20 20;
	font-size:medium;
}
#currentID, #hist-time{
  font-weight: bold;
  color:#337ab7;
}

#histsliderbox{
  position: absolute;
  top: 50;
  height:30;
  padding: 0 20;
  width: 100%;
}


/*Histogram style*/
#histogram{
  top:80;
  width:100%;
  position: absolute;
  padding: 0 20 10 20;
  right: 0;
  bottom: 0;
}
div.loading {
  background: #F3F3F3 url('http://code.jquery.com/mobile/1.3.1/images/ajax-loader.gif') no-repeat 50% 50%;
  -webkit-transition: background-color 0;
  transition: background-color 0;
}

/*histogram chart element's style*/
.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
  font: small sans-serif
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis{
  font-size: large;
}

.x_label,.y_label{
  font-size: large;
}

/*
@media screen and (max-width: 1024px) {
    #header {
        visibility:hidden !important;
    }
    #arrowbutton{
    	display: none;
    }
    #map{
    	top:0;
    	bottom:0
    }
}*/


