#LR-map-canvas{
  width:50%;
  height:100%;
  position:absolute;
  left:0;
}

#LR-chart-canvas{
  width:50%;
  height:20%;
  position:absolute;
  padding: 10px;
  right:0;
}

#histogram{
  width:50%;
  height:80%;
  position:absolute;
  right:0;
  bottom:0;
}


.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.leaflet-bar-part{
padding-top:0.5em;
}
.x_label,.y_label{
  font-size: initial;
}

div.loading {
  background: #F3F3F3 url('http://code.jquery.com/mobile/1.3.1/images/ajax-loader.gif') no-repeat 50% 50%;
  -webkit-transition: background-color 0;
  transition: background-color 0;
}